@import url('https://fonts.googleapis.com/css? Family-Oswald: 400,700');

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
    font-family: Oswald, sans-serif;
}

body{
    display: flex;
    
    justify-content: center;
    align-items: center; 
    min-height: 100vh;
    background: #434750;
}

ul{
    position: relative;
    transform: skewY(-15deg);   /*it is used to curve the box shape*/
}

ul li{
    position: relative;
    list-style: none;
    width: 200px;
    padding: 15px;
    background: #1d1d1d;
    z-index: var(--i);
    transition: 0.5s;
}

ul li:hover{
    background: #00ec00;
    transform: translateX(50px);
}
ul li::before{
    content: '';
    position: absolute;
    top: 0;
    left: -40px;
    width: 40px;
    height: 100%;
    background: #1d1d1d;
    transform-origin: right;
    transform: skewY(45deg);
    transition: 0.5;
}

ul li:hover::before{
    background: #00ec00;
}
ul li:hover::after{
    background: #00ec00;
}
ul li::after{
    content: '';
    width: 100%;
    height: 40px;
    top: -40px;
    left: 0;
    position: absolute;
    background: #1d1d1d;
    transform-origin: bottom;
    transform: skewX(45deg);
    transition: 0.5;
}

ul li a{
    text-decoration: none;
    color: #999;
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    transition: 0.5s;
}

ul li:hover a{
    color: #fff;
}

ul li:last-child::after{
    box-shadow: -120px 120px 20px rgba(0, 0, 0, 0.25);
}